* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}



.nav {
    background: #1d1919;
    position: relative;
    width: 100%;
    
    display: flex;
    align-items: center;
   
}



.nav_links {
    list-style: none;
    display: flex;
    margin-left: 50rem;
    
    
}

.nav img{
    border-radius: 50%;
    width: 7rem;
}

.nav li, a {
    flex-direction: column;
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-family: Montserrat,sans-serif;
    transition-duration: 1s;

}

.nav li {
    padding: 0px 20px;
}

.nav a:hover {
    color: #9b9b9b;
}




main {
    width: 100%;
    
    max-height: 100rem;
    height: 100rem;
    background: linear-gradient(
        0deg
        ,#000,#131313 5%,#131313);
}

.at {
    display: grid;
    border-radius: 10px;
    margin-top: 10rem;
    height: 80rem;
    width: 60rem;
    background: #1a1a1a;
    margin-left: 17.5rem;
    font-family: Montserrat,sans-serif;
    
}

.at-head {
    display: flex;
    width: 100%;
    height: 5rem;
    background: #212224;
    border-radius: 10px;
}

.at-body {
    margin-top: -5rem;

}



.AT-title {
    color: white;
    font-size: 30px;
    margin-top: 1.4rem;
    margin-left: 1.5rem;
    

}

.majitel {
    display: flex;
    color: white;
    margin-left: 30px;
    font-size: 30px;
}

.majitel span {
    padding-left: 10px;
}

.majitel i {
    color: rgba(143, 20, 20, 0.76);
}

.majitel-art {
    display: flex;
    width: 15rem;
    height: 15rem;
    background: #212224;
    margin-left: 5rem;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.majitel-art img {
    display: flex;
    width: 5rem;
    height: 5rem;
    margin-top: -5rem;
    margin-left: 0.5rem;
    border-radius: 50%;
    
}

.majitel-name {
    display: flex;
    color: white;
    margin-top: 4rem;
    margin-left: -5rem;
    font-size: 20px;

}

.devs {
    display: flex;
    color: white;
    margin-left: 30px;
    font-size: 30px;
}

.devs i {
    color: #e918ff;
}

.devs span{
    padding-left: 10px;
}

.developers {
    display: flex;
    width: 15rem;
    height: 15rem;
    background: #212224;
    margin-left: 5rem;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.developers img {
    display: flex;
    width: 5rem;
    height: 5rem;
    margin-top: -5rem;
    margin-left: -0.5rem;
    border-radius: 50%;
}

.devs-name {
    display: flex;
    color: white;
    margin-top: 4rem;
    margin-left: -4.5rem;
    font-size: 20px;
}




.admins-head {
    display: flex;
    color: white;
    margin-left: 30px;
    font-size: 30px;
}

.admins-head i {
    color: darkcyan;
}

.admins-head span{
    padding-left: 10px;
}

.metas {

    display: flex;
    width: 15rem;
    height: 15rem;
    background: #212224;
    margin-left: 5rem;
    border-radius: 10px;
    justify-content: center;
    align-items: center;

}

.metas img {

    display: flex;
    width: 5rem;
    height: 5rem;
    margin-top: -5rem;
    margin-left: -0.5rem;
    border-radius: 50%;

}

.metas-name {

    display: flex;
    color: white;
    margin-top: 4rem;
    margin-left: -4.5rem;
    font-size: 20px;

}

footer {
    width: 100%;
    height: 10rem;
    background: #1a1a1a;

}

footer p {
    color: #5a5a5a;
    font-size: 30px;
    margin-left: 39rem;
    margin-right: auto;
    font-family: Montserrat,sans-serif;

}

/* MOBILE DEVICES */
@media screen and (max-width: 600px) {
    .nav {
        width: 100%;
    }

    .nav img {
        width: 60px;
    }

    .nav_links li {
        padding: 0px 7px;
    }

    .nav_links {
        margin-left: 10px;
        
    }
    .nav_links a {
        font-size: 9px;
    }

    main {
        width: 100%;
    }
    .at-head {
      
        width: 20rem;
    }

    .at {
        width: 20rem;
        margin-left: auto;
        margin-right: auto;
    }

    .majitel {
        font-size: 20px;
    }

    .devs {
        font-size: 20px;
    }

    .admins-head {
        font-size: 20px;
    }

    .majitel-art {
        
        width: 10rem;
        height: 10rem;
    }
    .majitel-art img {
        width: 3.5rem;
        height: 3.5rem;
        margin-left: 3.5rem;
        
        margin-right: auto;
    }
    .majitel-name {
        margin-left: -6.5rem;
        margin-right: auto;
        font-size: 20px;
    }

    .developers {
        width: 10rem;
        height: 10rem;
    }

    .developers img {
        width: 3.5rem;
        height: 3.5rem;
        margin-left: 3.4rem;
        margin-right: auto;
    }

    .devs-name {
        margin-left: -6.5rem;
        margin-right: auto;
        font-size: 20px;
    }

    .metas {
        width: 10rem;
        height: 10rem;
    }

    .metas img {
        width: 3.5rem;
        height: 3.5rem;
        margin-left: 3.4rem;
        margin-right: auto;
    }

    .metas-name {
        margin-left: -6.5rem;
        margin-right: auto;
        font-size: 20px;
    }

    footer {
        width: 100%;
        
    }

    footer p {
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 10em
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .nav {
        width: 100%;
    }

    .nav img {
        width: 100px;
    }

    .nav_links li {
        padding: 0px 7px;
    }

    .nav_links {
        margin-left: 14rem;
        
    }
    .nav_links a {
        font-size: 14px;
    }

    main {
        width: 100%;
    }

    .at {
        width: 40rem;
        margin-left: auto;
        margin-right: auto;
    }

    footer {
        width: 100%;
        
    }

    footer p {
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 10em
        
    }
}


@media screen and (min-width: 1024px) and (max-width: 1280px) {

    .nav {
        width: 100%;
    }

    .nav img {
        width: 130px;
    }

    .nav_links li {
        padding: 0px 7px;
    }

    .nav_links {
        margin-left: 24rem;
        
    }
    .nav_links a {
        font-size: 17px;
    }

    main {
        width: 100%;
    }

    footer {
        width: 100%;
        
    }

    footer p {
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 10em
        
    }

    .at {
        width: 55rem;
        margin-left: auto;
        margin-right: auto;
    }

}