* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

/* NAV BAR*/
.nav {
    background: #1d1919;
    position: relative;
    width: 100%;
    
    display: flex;
    align-items: center;
   
}



.nav_links {
    list-style: none;
    display: flex;
    margin-left: 50rem;
    
    
}

.nav img{
    border-radius: 50%;
    width: 7rem;
}

.nav li, a {
    flex-direction: column;
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-family: Montserrat,sans-serif;
    transition-duration: 1s;

}

.nav li {
    padding: 0px 20px;
}

.nav a:hover {
    color: #9b9b9b;
}



/* NAV BAR */

/* MAIN */

main {
    width: 100%;
    height: 75rem;
    background: linear-gradient(
        0deg
        ,#000,#131313 5%,#131313);
}

.changelog-title {
   
    margin-top: 7rem;
    margin-left: 17.5rem;
    width: 60rem;
    height: 4rem;
    background: #212224;
    border-radius: 10px;
}

.changelog-title p {
    color: white;
    font-size: 25px;
    font-family: Montserrat,sans-serif;
    padding-top: 1.1rem;
    padding-left: 1rem;

}

.allchangelogs {
    display: grid;
    border-radius: 10px;
    margin-top: 1rem;
    height: 50rem;
    width: 60rem;
    background: #1a1a1a;
    margin-left: 17.5rem;
    font-family: Montserrat,sans-serif;
}

.nochangelogs {
    color: white;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
    font-size: 60px;
}


/* MAIN */


footer {
    width: 100%;
    height: 10rem;
    background: #1a1a1a;

}

footer p {
    color: #5a5a5a;
    font-size: 30px;
    margin-left: 39rem;
    margin-right: auto;
    font-family: Montserrat,sans-serif;
}

/* MOBILE DEVICES */
@media screen and (max-width: 600px) {
    .nav {
        width: 100%;
    }

    .nav img {
        width: 60px;
    }

    .nav_links li {
        padding: 0px 7px;
    }

    .nav_links {
        margin-left: 10px;
        
    }
    .nav_links a {
        font-size: 9px;
    }

    main {
        width: 100%;
    }

    .changelog-title {
        width: 20rem;
        margin-left: auto;
        margin-right: auto;
    }

    

    .allchangelogs {
        width: 20rem;
        margin-left: auto;
        margin-right: auto;
    }


    footer {
        width: 100%;
        
    }

    footer p {
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 10em
        
    }

    .nochangelogs {
        font-size: 20px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .nav {
        width: 100%;
    }

    .nav img {
        width: 100px;
    }

    .nav_links li {
        padding: 0px 7px;
    }

    .nav_links {
        margin-left: 14rem;
        
    }
    .nav_links a {
        font-size: 14px;
    }

    main {
        width: 100%;
    }

    footer {
        width: 100%;
        
    }

    footer p {
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 10em
        
    }

    .allchangelogs {
        width: 40rem;
        margin-left: auto;
        margin-right: auto;
    }

    .changelog-title {
        width: 40rem;
        margin-left: auto;
        margin-right: auto;
    }

    .nochangelogs {
        font-size: 40px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .nav {
        width: 100%;
    }

    .nav img {
        width: 130px;
    }

    .nav_links li {
        padding: 0px 7px;
    }

    .nav_links {
        margin-left: 24rem;
        
    }
    .nav_links a {
        font-size: 17px;
    }

    main {
        width: 100%;
    }
    footer {
        width: 100%;
        
    }

    footer p {
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 10em
        
    }

    .allchangelogs {
        width: 55rem;
        margin-left: auto;
        margin-right: auto;
    }

    .changelog-title {
        width: 55rem;
        margin-left: auto;
        margin-right: auto;
    }
}