* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat",sans-serif;

}



/* NAVIGATION BAR */

.nav {
    background: #1d1919;
    position: relative;
    width: 100%;
    
    display: flex;
    align-items: center;
   
}



.nav_links {
    list-style: none;
    display: flex;
    margin-left: 50rem;
    
    
}

.nav img{
    border-radius: 50%;
    width: 7rem;
}

.nav li, a {
    flex-direction: column;
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-family: Montserrat,sans-serif;
    transition-duration: 1s;

}

.nav li {
    padding: 0px 20px;
}

.nav a:hover {
    color: #9b9b9b;
}

/* NAVIGATION BAR */


main {
    width: 100%;
    height: 85rem;
    background: linear-gradient(
        0deg
        ,#000,#131313 5%,#131313);
}

.title {
    margin-top: 7rem;
    margin-left: 17.5rem;
    width: 60rem;
    height: 4rem;
    background: #212224;
    border-radius: 10px;
}

.title p {
    color: white;
    font-size: 25px;
    padding-top: 1.1rem;
    padding-left: 1rem;
}

.frakcie-body {
    display: grid;
    border-radius: 10px;
    margin-top: 1rem;
    height: 60rem;
    width: 60rem;
    background: #1a1a1a;
    margin-left: 17.5rem;
}

.frakcie {
    background: #212224;
    height: 40rem;
    width: 55rem;
    margin-top: 2rem;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.frakcie .legal-title {
    color: white;
    font-size: 30px;
    margin-top: 1rem;
    margin-left: 1rem;
}

.pd p {
    color: white;
    display: flex;
    margin-left: 1rem;
    margin-top: 1rem;
}

.pd-status {
    color: white;
    display: flex;
    margin-left: 17rem;
    margin-top: -1.4rem;
    background: rgba(11, 214, 11, 0.616);
    height: 1.8rem;
    width: 5rem;
    border-radius: 10px;
    

}

.pd-status .pd-info {
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto; 
}

.sd p{
    color: white;
    display: flex;
    margin-left: 1rem;
    margin-top: 0.5rem;

}

.sd-status {
    color: white;
    display: flex;
    margin-left: 17rem;
    margin-top: -1.4rem;
    background: rgba(11, 214, 11, 0.616);
    height: 1.8rem;
    width: 5rem;
    border-radius: 10px;
}

.sd img {
    width: 20px;
    height: auto;
}

.sd-status .sd-info {
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto; 
}

.ems p{
    color: white;
    display: flex;
    margin-left: 1rem;
    margin-top: 0.5rem;

}

.ems-status {
    color: white;
    display: flex;
    margin-left: 17rem;
    margin-top: -1.4rem;
    background: rgba(11, 214, 11, 0.616);
    height: 1.8rem;
    width: 5rem;
    border-radius: 10px;
}

.ems-status .ems-info {
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto; 
}




footer {
    width: 100%;
    height: 10rem;
    background: #1a1a1a;

}

footer p {
    color: #5a5a5a;
    font-size: 30px;
    margin-left: 39rem;
    margin-right: auto;
    font-family: Montserrat,sans-serif;
}

@media screen and (max-width: 600px) {


    .nav {
        width: 100%;
    }

    .nav img {
        width: 60px;
    }

    .nav_links li {
        padding: 0px 7px;
    }

    .nav_links {
        margin-left: 10px;
        
    }
    .nav_links a {
        font-size: 9px;
    }

    main {
        width: 100%;
        height: 100rem;
       
    }

    footer {
        width: 100%;
        
    }

    footer p {
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 10em
        
    }

    .frakcie-body {
        width: 20rem;
        margin-left: auto;
        margin-right: auto;
    }

    .frakcie {
        width: 18rem;
    }

    .title {
        width: 20rem;
        margin-left: auto;
        margin-right: auto;
    }

    .pd p {
        font-size: 10px;
    }

    .sd p {
        font-size: 10px;
    }

    .ems p {
        font-size: 10px;
    }

    .pd-status {
        height: 1.5rem;
        width: 3rem;
        margin-left: 12rem;
        margin-top: -17px;
    }

    .pd-status .pd-info {
        font-size: 9px;
    }

    .pd-info {
        font-size: 1px;
    }

    .sd-status {
        height: 1.5rem;
        width: 3rem;
        margin-left: 12rem;
        margin-top: -17px;
    }

    .sd-status .sd-info {
        font-size: 9px;
    }
    
    .sd img {
        height: auto;
        width: 13px;
    }

    .ems-status .ems-info {
        
        font-size: 9px;
    }

    .ems-status {
        height: 1.5rem;
        width: 3rem;
        margin-left: 12rem;
        margin-top: -17px;
    }

    .sd {
        padding-top: 10px;
    }

    .ems {
        padding-top: 10px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
    .nav {
        width: 100%;
    }

    .nav img {
        width: 100px;
    }

    .nav_links li {
        padding: 0px 7px;
    }

    .nav_links {
        margin-left: 14rem;
        
    }
    .nav_links a {
        font-size: 14px;
    }

    main {
        width: 100%;
    }

    footer {
        width: 100%;
        
    }

    footer p {
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 10em
        
    }

    .frakcie-body {
        width: 40rem;
        margin-left: auto;
        margin-right: auto;
    }

    .frakcie {
        width: 35rem;
        margin-left: auto;
        margin-right: auto;
    }

    .title {
        width: 40rem;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .nav {
        width: 100%;
    }

    .nav img {
        width: 130px;
    }

    .nav_links li {
        padding: 0px 7px;
    }

    .nav_links {
        margin-left: 24rem;
        
    }
    .nav_links a {
        font-size: 17px;
    }

    main {
        width: 100%;
    }

    footer {
        width: 100%;
        
    }

    footer p {
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 10em
        
    }

    .frakcie-body {
        width: 55rem;
        margin-left: auto;
        margin-right: auto;
    }

    .frakcie {
        width: 50rem;
        margin-left: auto;
        margin-right: auto;
    }

    .title {
        width: 55rem;
        margin-left: auto;
        margin-right: auto;
    }
}