* {
    padding: 0;
    margin: 0;
    font-family: Montserrat,sans-serif;

}


/* NAV BAR*/
.nav {
    background: #1d1919;
    position: relative;
    width: 100%;
    
    display: flex;
    align-items: center;
   
}



.nav_links {
    list-style: none;
    display: flex;
    margin-left: 50rem;
    
    
}

.nav img{
    border-radius: 50%;
    width: 7rem;
}

.nav li, a {
    flex-direction: column;
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-family: Montserrat,sans-serif;
    transition-duration: 1s;

}

.nav li {
    padding: 0px 20px;
}

.nav a:hover {
    color: #9b9b9b;
}



/* NAV BAR */

main {
    width: 100%;
    height: 95rem;
    background: linear-gradient(
        0deg
        ,#000,#131313 5%,#131313);
        
}

.title {
    margin-top: 7rem;
    margin-left: 17.5rem;
    width: 60rem;
    height: 4rem;
    background: #212224;
    border-radius: 10px;
}

.title p {
    color: white;
    font-size: 25px;
    padding-top: 1.1rem;
    padding-left: 1rem;
}

.all-nabor {
    display: grid;
    border-radius: 10px;
    margin-top: 2.1rem;
    height: 70rem;
    width: 60rem;
    background: #1a1a1a;
    margin-left: 0rem;
}

.developer {
    background: #212224;
    height: 27rem;
    width: 55rem;
    margin-top: 2rem;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.developer-header {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.developer .developer-h1 {
    font-size: 30px;
}

.developer .developer-h1 span {
    color: #e918ff;
}

.dev-status {
    width: 6.5rem;
    border-radius: 10px;
    height: 2rem;
    margin-top: 22px;
    margin-left: 3rem;
    background-color: red;
}

.dev-status .dev-status-info {
    color: white;
    margin-top: -8.5px;
    font-size: 13px;
    
    
}



.developer .dev-odstavec1 .devquest1 {
    font-size: 20px;
}

.developer .dev-odstavec1 .clanok p{
    font-size: 17px;

}


.dev-odstavec2 .dev-poziadavky {
    font-size: 20px;
}

.dev-odstavec2 li {
    color: white;
    font-size: 17px;
    margin-left: 3rem;
}

.developer .dev-link p{
    font-size: 17px;
}



.developer .dev-link .dev-link-link {
    color: orange;
}

.developer .dev-link .dev-link-link:hover {
    text-decoration: underline;
}

.admin {
    margin-top: -10rem;
    background: #212224;
    height: 28rem;
    width: 55rem;
    
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.admin-header {
    display: flex;

}

.admin .admin-h1 {
    font-size: 30px;
}

.admin .admin-h1 span {
    color: darkcyan;
}

.admin-status {
    width: 6.5rem;
    border-radius: 10px;
    height: 2rem;
    margin-top: 22px;
    margin-left: 3rem;
    background-color: red;

}

.admin-header .admin-status-info {
    color: white;
    margin-top: -8.5px;
    font-size: 13px;
}

.admin-question p{
    font-size: 20px;
}

.admin-answer p {
    font-size: 17px;
    margin-right: 5px;
}

.req-header {
    margin-top: 1rem;
}

.req-header p{
    font-size: 20px;
}

.req li{
    color: white;
    font-size: 17px;
    margin-left: 3rem;
}

.admin-link p {
    font-size: 17px;
}

.admin-link p a {
    color: orange;
}

.admin-link p a:hover {
    text-decoration: underline;
}


footer {
    width: 100%;
    height: 10rem;
    background: #1a1a1a;

}

footer p {
    color: #5a5a5a;
    font-size: 30px;
    margin-left: 39rem;
    margin-right: auto;
    font-family: Montserrat,sans-serif;
}

/* MOBILE DEVICES */
@media screen and (max-width: 600px) {

    .nav {
        width: 100%;
    }

    .nav img {
        width: 60px;
    }

    .nav_links li {
        padding: 0px 7px;
    }

    .nav_links {
        margin-left: 10px;
        
    }
    .nav_links a {
        font-size: 9px;
    }

    main {
        width: 100%;
        height: 120rem;
       
    }

    footer {
        width: 100%;
        
    }

    footer p {
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 10em
        
    }

    .title {
        width: 20rem;
        margin-left: auto;
        margin-right: auto;
    }

    .all-nabor {
        width: 20rem;
        height: 95rem;
        margin-left: auto;
        margin-right: auto;
    }

    .developer {
        margin-left: auto;
        margin-right: auto;

        width: 18rem;
        height: 35rem;
    }

    .developer .developer-h1 {
        font-size: 20px;
    }

    .dev-status {
        width: 4rem;
        height: 1.5rem;
    }

    .dev-status .dev-status-info {
        font-size: 9px;
        margin-top: -11px;
        margin-left: -0.5rem;
    }

    .admin {
        margin-left: auto;
        margin-right: auto;
        width: 18rem;
        height: 45rem;
        
    }

    .admin .admin-header {
        font-size: 20px;
    }

    .admin-status {
        width: 4rem;
        height: 1.5rem;
    }

    .admin-status .admin-status-info {
        font-size: 9px;
        margin-top: -11px;
        margin-left: -0.5rem;
    }



}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .nav {
        width: 100%;
    }

    .nav img {
        width: 100px;
    }

    .nav_links li {
        padding: 0px 7px;
    }

    .nav_links {
        margin-left: 14rem;
        
    }
    .nav_links a {
        font-size: 14px;
    }

    main {
        width: 100%;
    }

    footer {
        width: 100%;
        
    }

    footer p {
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 10em
        
    }

    .all-nabor {
        width: 40rem;
        margin-left: auto;
        margin-right: auto;
    }

    .title {
        width: 40rem;
        margin-left: auto;
        margin-right: auto;
        

    }

    .developer {
        width: 35rem;
        height: 29rem;
    }

    .admin {
        width: 35rem;
        height: 32.5rem;
        margin-top: -4rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .nav {
        width: 100%;
    }

    .nav img {
        width: 130px;
    }

    .nav_links li {
        padding: 0px 7px;
    }

    .nav_links {
        margin-left: 24rem;
        
    }
    .nav_links a {
        font-size: 17px;
    }

    main {
        width: 100%;
    }

    footer {
        width: 100%;
        
    }

    footer p {
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 10em
        
    }

    .all-nabor {
        width: 55rem;
        margin-left: auto;
        margin-right: auto;
    }

    .title {
        width: 55rem;
        margin-left: auto;
        margin-right: auto;
    }

    .developer {
        width: 50rem;
    }

    .admin {
        width: 50rem;
    }
}