* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}



header {
    background-image: url("./resources/slide_3.jpg"); 
  
    background-size: cover;
    
    height: 100%;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    position: relative;
}



/* NAVIGATION BAR */

.nav {
    background: #1d1919;
    position: relative;
    width: 100%;
    
    display: flex;
    align-items: center;
   
}



.nav_links {
    list-style: none;
    display: flex;
    margin-left: 50rem;
    
    
}

.nav img{
    border-radius: 50%;
    width: 7rem;
}

.nav li, a {
    flex-direction: column;
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-family: Montserrat,sans-serif;
    transition-duration: 1s;

}

.nav li {
    padding: 0px 20px;
}

.nav a:hover {
    color: #9b9b9b;
}






/* NAVIGATION BAR */


.articles {
    align-items: center;
    display: flex;
    margin-top: 27rem;
    margin-left: 5rem;
    justify-content: space-between;
}

.ip {

    
    display: flex;
    border-radius: 10px;
    height: 10rem;
    width: 25rem;
    background: #6c757d;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    
    
}

.ip img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    transition-duration: 1s;
    margin-left: -6rem;
    
}

.ip p {
    font-size: 20px;
    color: white;
    padding: 0px 15px;
    transition-duration: 1s;
}


.ip:hover strong {
    color: rgb(157, 233, 43);
}


.ip:hover img {
    margin-top: -1rem;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5), 0 17px 50px 0 rgba(0,0,0,0.24);
}

.ip:hover .hover-ip {
    background: #131313;
    opacity: 1;
    margin-top: -14rem;
}

.ip:hover p {
    color: white;
}



.hover-ip {
    align-items: center;
    width: 6rem;
    height: 2rem;
    
    margin-top: -11rem;
    margin-left: -12rem;
    
    display: grid;
    transition-duration: 2s;
    background: #1a1a1a;
    border-radius: 10px;
    opacity: 0;
    justify-content: center;
    align-items: center;

}



.hover-ip p {
    font-size: 10px;
    color: white;
    transition-duration: 1s;

}

.discord {
    
    display: flex;
    margin-right: 5rem;
    height: 10rem;
    width: 25rem;
    background: #6c757d;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-left: -18rem;
}

.discord img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    transition-duration: 1s;
}

.discord p {
    font-size: 20px;
    align-items: center;
    padding: 0px 15px;
}

.discord:hover img {
    margin-top: -1rem;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.5), 0 17px 50px 0 rgba(0,0,0,0.24);
}

.linktods {
    
    width: 12rem;
}


/* 

MAIN

*/

main {
    width: 100%;
    height: 85rem;
    background: linear-gradient(
        0deg
        ,#000,#131313 5%,#131313);
        
}


.changelog {
    display: grid;
    border-radius: 10px;
    margin-top: 10rem;
    height: 60rem;
    width: 60rem;
    background: #1a1a1a;
    margin-left: 16.5rem;

}

.changelog-head {
    display: flex;
    width: 100%;
    height: 5rem;
    background: #212224;
    border-radius: 10px;
}

.changelog-head p {
    
    font-size: 20px;
    margin-top: 1.7rem;
    margin-left: 1rem;
    font-family: Montserrat,sans-serif;
}

.changelog-body {

}

.changelog-footer {
    padding: 10px 15px;
    margin-top: 41.5rem;
    max-height: 4rem;
    background: #212224;
    border-radius: 10px;
}

.changelog .button {
    margin-top: 23px;
    
    margin-left: 37rem;
    background: orange;
    width: 7rem;
    padding-left: 10px;
    height: 2rem;
    padding-top: 8px;
    border-radius: 5px;
    transition-duration: 0.3s;
}

.changelog .button a {
    font-size: 13px;
    display: flex;
}

.changelog-head .button:hover {
    background: #212224;
    border: orange solid 0.5px;
}



/* 

BODY

*/

.changelog-body .novinka1 span {
    font-size: 20px;

}

.changelog-body .novinka1  {
    color: white;
    font-size: 20px;
    margin-top: -2px;
    margin-left: 4rem;


}
.changelog-body .body-text {
    align-items: center;
    font-family: Montserrat,sans-serif;

}


.newitems {
    color: white;
    font-size: 30px;
    margin-left: 2rem;

}


/*

FOOTER

*/

footer {
    width: 100%;
    height: 10rem;
    background: #1a1a1a;

}

footer p {
    color: #5a5a5a;
    font-size: 30px;
    margin-left: 39rem;
    margin-right: auto;
    font-family: Montserrat,sans-serif;

}

/* MOBIlE DEVICES */

/* MOBILES */
@media screen and (max-width: 600px) {
    .nav {
        width: 100%;
    }

    .nav img {
        width: 60px;
    }

    .nav_links li {
        padding: 0px 7px;
    }

    .nav_links {
        margin-left: 10px;
        
    }
    .nav_links a {
        font-size: 9px;
    }

    main {
        width: 100%;
    }

    .discord {
        height: 5rem;
        width: 10rem;
        margin-left: 20px;
    }

    .ip {
        height: 5rem;
        width: 10rem;
    }

    .articles {
        margin-left: 1rem;
        margin-right: auto;
        
    }

    

    .ip p {
        font-size: 7px;
    }

    .ip img {
        width: 2rem;
        height: auto;
    }
    
    .discord p {
        font-size: 7px;
    }

    .discord img {
        margin-left: 6px;
        width: 2rem;
        height: auto;
    }

    .changelog {
        margin: 0px;
        margin: auto;
        padding: auto;
        width: 20rem;
    }

    .changelog-head {
        width: 20rem;
    }

    .changelog-head p {
        font-size: 15px;
        margin-top: 2rem;
        width: 10rem;
        
    }

    .changelog .button {
        margin-left: 2rem;
        width: 6rem;
        
        
    }

    .changelog .button a {
        font-size: 11px;
        padding-top: 2px;
        
    }

    .newitems {
        font-size: 25px;
    }

    .body-text .novinka1 {
        font-size: 15px;
    }

    footer {
        width: 100%;
        
    }

    footer p {
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 10em
        
    }
     

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .nav {
        width: 100%;
    }

    .nav img {
        width: 100px;
    }

    .nav_links li {
        padding: 0px 7px;
    }

    .nav_links {
        margin-left: 14rem;
        
    }
    .nav_links a {
        font-size: 14px;
    }

    main {
        width: 100%;
    }

    .discord {
        height: 10rem;
        width: 16rem;
        margin-left: -5rem;
    }

    .ip {
        height: 10rem;
        width: 16rem;
    }

    .articles {
        margin-left: 1rem;
        margin-right: auto;
        
    }

    

    .ip p {
        font-size: 15px;
    }

    .ip img {
        width: 4rem;
        height: auto;
    }
    
    .discord p {
        font-size: 15px;
    }

    .discord img {
        margin-left: 6px;
        width: 4rem;
        height: auto;
    }

    .changelog {
        margin: 0px;
        margin: auto;
        padding: auto;
        width: 40rem;
    }

    .changelog-head {
        width: 40rem;
    }

    .changelog-head p {
        font-size: 17px;
        margin-top: 2rem;
        width: 10rem;
        
    }

    .changelog .button {
        margin-left: 20rem;
        width: 6rem;
        
        
    }

    .changelog .button a {
        font-size: 11px;
        padding-top: 2px;
        
    }

    .newitems {
        font-size: 30px;
    }

    .body-text .novinka1 {
        font-size: 20px;
    }

    footer {
        width: 100%;
        
    }

    footer p {
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 10em
        
    }


}


@media screen and (min-width: 1024px) and (max-width: 1280px) {


    .nav {
        width: 100%;
    }

    .nav img {
        width: 130px;
    }

    .nav_links li {
        padding: 0px 7px;
    }

    .nav_links {
        margin-left: 24rem;
        
    }
    .nav_links a {
        font-size: 17px;
    }

    main {
        width: 100%;
    }

    .discord {
        height: 10rem;
        width: 20rem;
        margin-left: -9rem;
        margin-top: 25rem;
    }

    .ip {
        height: 10rem;
        width: 20rem;
        margin-top: 25rem;
    }

    .articles {
        margin-left: 1rem;
        margin-right: auto;
        
    }

    

    .ip p {
        font-size: 15px;
    }

    .ip img {
        width: 4rem;
        height: auto;
    }
    
    .discord p {
        font-size: 15px;
    }

    .discord img {
        margin-left: 6px;
        width: 4rem;
        height: auto;
    }

    .changelog {
        margin: 0px;
        margin: auto;
        padding: auto;
        width: 55rem;
        margin-top: 5rem;
    }

    .changelog-head {
        width: 55rem;
    }

    .changelog-head p {
        font-size: 30px;
        margin-top: 1.5rem;
        width: 20rem;
        
        
    }

    .changelog .button {
        margin-left: 25rem;
        width: 7rem;
        
        
    }

    .changelog .button a {
        font-size: 13px;
        padding-top: 2px;
        
    }

    .newitems {
        font-size: 35px;
    }

    .body-text .novinka1 {
        font-size: 25px;
    }

    footer {
        width: 100%;
        
    }

    footer p {
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 10em
        
    }

}






